@import "~@orbit-ui/css-normalize";
@import "~@orbit-ui/foundation/apricot.css";
@import "~@orbit-ui/tachyons/apricot.css";
@import "~@orbit-ui/semantic-ui-theme";

body {
  padding: 100px 20px;
  background-image: url(assets/dot-grid.png);
  text-align: center;
}

.App {
  margin: 0 auto;
  max-width: 900px;
}

h1 {
  text-align: left;
  font-size: 40px;
  line-height: 1;
  margin-top: 180px;
}

.bubble-gum {
  background-color: #b2ebf2;
  padding: 20px 16px;
  border-radius: 8px;
  color: #212121;
}
